.title a{
    margin: 0;
    height: 23px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;

    color: #FFFFFF;
}

.container{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    background: #333333;
    gap: 72%;

    margin-top: auto;

    width: 100%;
    height: 86px;
    left: 0px;
    bottom: 0px;
}